.navbar .container {
  box-sizing: border-box;
  height: 62px;

  .navbar-nav .nav-item .nav-link {
    cursor: pointer;
  }
}

.top-login-form {
  height: 100%;
  padding: 10px;

  .btn {
    font-size: 0.875rem;
    white-space: nowrap;
  }
}
