<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!!currentUser">
      <li class="nav-item">
        <a class="nav-link">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">Log Out</a>
      </li>
    </ul>

    <span *ngIf="!!currentUser; else notLoggedIn">
      <button
        type="button"
        pButton
        icon="pi pi-bars"
        label="Welcome, {{ currentUser.username | titlecase }}!"
        (click)="menu.toggle($event)"></button>
      <p-menu #menu [model]="navMenuItems" [popup]="true"></p-menu>
    </span>

    <ng-template #notLoggedIn>
      <form #loginForm="ngForm" class="d-flex top-login-form" (ngSubmit)="onSubmit()" autocomplete="off">
        <input name="username" ngModel class="form-control me-2" type="text" placeholder="Username" />
        <input name="password" ngModel class="form-control me-2" type="password" placeholder="Username" />
        <button class="btn btn-outline-success" type="submit">Log In</button>
      </form>
    </ng-template>
  </div>
</nav>
